[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "==1.0.0"
pandas = "==0.24.1"
bokeh = "==1.0.4"
matplotlib = "==3.0.2"
numpy = "==1.16.1"
tqdm = "==4.31.1"
ipywidgets = "==7.4.2"
jupyter-contrib-nbextensions = "==0.5.1"
sentry-sdk = "*"
watchtower = "==0.5.4"
python-decouple = "==3.1"

[dev-packages]
pytest = "==4.0.2"
pytest-cov = "==2.6.0"
pytest-sugar = "==0.9.2"
pytest-mock = "==1.10.0"
ipdb = "==0.11"

[requires]
python_version = "3.6"
